/*쿼리 조정*/

.tips_2,
.tips_3 {
  margin-left: 100px;
  display: flex;

  margin-bottom: 20px;
  text-decoration: none;
}

a {
  text-decoration: none; /* 모든 a 태그의 밑줄을 제거 */
  color: inherit; /* 링크 색상을 상속받도록 설정 */
}

.tips_2 a,
.tips_3 a {
  text-decoration: none;
  color: inherit;
}

.first_tip_text {
  text-align: left;
  flex: 1;
  color: #000f75;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.second_tip {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9bf2ff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0px;
}

.third_tip {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7cc6d2;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0px;
  margin-bottom: 50px;
}

/* iPad Air 2 (768px x 1024px) */
@media (max-width: 768px) {
  .tips_2,
  .tips_3 {
    margin-left: 50px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .second_tip,
  .third_tip {
    width: 90%;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
  }

  .first_tip_text {
    font-size: 16px;
  }
}

/* iPhone 13 (390px x 844px) */
@media (max-width: 390px) {
  .tips_2,
  .tips_3 {
    margin-left: 20px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  .second_tip,
  .third_tip {
    width: 95%;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .first_tip_text {
    font-size: 14px;
  }
}