/*쿼리 조정 완료*/

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #b2ebf4; /* 원하는 배경색 지정 */
  overflow: hidden; /* 오버플로우 숨김 */
  z-index: 9999; /* 다른 컨텐츠 위에 나타나도록 설정 */
}

