/*쿼리 조정 완료*/

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin; /* 크기를 줄임 */
  pointer-events: none;
  overflow: hidden; /* 오버플로우 숨김 */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh; /* 필요에 따라 이 값을 조정 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden; /* 오버플로우 숨김 */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
