/*쿼리 조정 완료*/

.Personal-container {
  display: flex;
  margin-left: 200px;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  width: 1100px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 8px solid #00d8ff;
  background: #fff;
  margin-bottom: 50px;
  position: relative; /* 부모 요소로 설정 */
}

.questions {
  position: absolute; /* 절대 위치로 설정 */
  top: 0; /* 부모 요소의 위쪽으로 배치 */
  left: 50%; /* 가운데 정렬 */
  transform: translateX(-50%); /* 가운데 정렬을 위한 변형 */
  display: flex; /* Flexbox 설정 */
  align-items: center; /* 수직 가운데 정렬 */
}

.questions h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-right: 2px; /* h2 요소와 svg 사이의 간격 설정 */
  white-space: nowrap;
}

.questions svg {
  margin-top: 35px;
  align-self: flex-start; /* h2 요소의 왼쪽에 배치 */
}

.next_q_button {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 20px; /* 컨테이너의 아래쪽에서 20px */
  right: 40px !important; /* 오른쪽에서 40px */
}

.record_button {
  width: 30px;
  height: 30px;
  position: absolute; /* 절대 위치로 설정 */
  bottom: 100px; /* 컨테이너의 아래쪽에서 20px */
  left: 20px; /* 왼쪽에서 20px */
  flex-shrink: 0;
  margin-bottom: 5px;
}

.record_button.clicked {
  background-color: #00d8ff;
  width: 30px;
  height: 30px;
}

.recordcheck_button {
  width: 30px;
  height: 20px;
  position: absolute; /* 절대 위치로 설정 */
  bottom: 100px; /* 컨테이너의 아래쪽에서 20px */
  left: 150px; /* 왼쪽에서 20px */
  flex-shrink: 0;
  margin-bottom: 5px;
}

.record_pause {
  width: 80px;
  height: 80px;
  position: absolute; /* 절대 위치로 설정 */
  bottom: 30px;
  left: 280px;
  flex-shrink: 0;
  margin-bottom: 5px;
}

/* iPad Air 2 (768px x 1024px) */
@media (max-width: 768px) {
  .Personal-container {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
  }
  .questions h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .next_q_button {
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 20px;
  }
  .record_button,
  .recordcheck_button {
    width: 20px;
    height: 20px;
    bottom: 50px;
  }
  .record_pause {
    width: 60px;
    height: 60px;
    bottom: 20px;
    left: 240px;
  }
}

/* iPhone 13 (390px x 844px) */
@media (max-width: 390px) {
  .Personal-container {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
  }
  .questions h2 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .next_q_button {
    width: 50px;
    height: 50px;
    bottom: 10px;
    right: 10px;
  }
  .record_button,
  .recordcheck_button {
    width: 15px;
    height: 15px;
    bottom: 30px;
  }
  .record_pause {
    width: 50px;
    height: 50px;
    bottom: 10px;
    left: 200px;
  }
}