.container {
  margin-top: 50px;
  width: 1400px;
  height: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
  border-radius: 30px;
  border: 3px solid #00d8ff;
  background: #00d8ff;
  padding: 20px;
  margin-left: 5px;
  overflow: hidden;

}

.card {
  margin: 20px;
  border-radius: 30px;
  border: 5px solid #00d8ff;
  background: #fff;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.tag {
  margin-top: 10px;
  text-align: center;
  color: #000f75;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 800;
}

.tag p {
  margin-top: 25px;
  text-align: center;
  color: #000f75;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 900;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 1024px) {
  .container {
    padding: 10px; /* 작은 화면 크기에 맞게 패딩 조정 */
  }

  .card {
    width: 250px; /* 아이패드 크기에 맞게 카드 너비 조정 */
    height: 350px; /* 아이패드 크기에 맞게 카드 높이 조정 */
  }

  .tag {
    font-size: 18px; /* 아이패드 크기에 맞게 글꼴 크기 조정 */
  }

  .tag p {
    font-size: 28px; /* 아이패드 크기에 맞게 글꼴 크기 조정 */
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px; /* 작은 화면 크기에 맞게 패딩 조정 */
  }

  .card {
    width: 200px; /* 작은 화면 크기에 맞게 카드 너비 조정 */
    height: 300px; /* 작은 화면 크기에 맞게 카드 높이 조정 */
  }

  .tag {
    font-size: 16px; /* 작은 화면 크기에 맞게 글꼴 크기 조정 */
  }

  .tag p {
    font-size: 24px; /* 작은 화면 크기에 맞게 글꼴 크기 조정 */
  }
}

@media (max-width: 480px) {
  .container {
    padding: 5px; /* 더 작은 화면 크기에 맞게 패딩 조정 */
  }

  .card {
    width: 150px; /* 더 작은 화면 크기에 맞게 카드 너비 조정 */
    height: 250px; /* 더 작은 화면 크기에 맞게 카드 높이 조정 */
  }

  .tag {
    font-size: 14px; /* 더 작은 화면 크기에 맞게 글꼴 크기 조정 */
  }

  .tag p {
    font-size: 20px; /* 더 작은 화면 크기에 맞게 글꼴 크기 조정 */
  }
}