/*쿼리 조정 완료*/
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 1500px;
  height: 400px;
  border-radius: 20px;
  border: 3px solid #fffff;
  background: #fffff;
  margin-left: 10px;
}

.text,
.password {
  color: #000;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.signup-input {
  width: 238px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 3px solid #00d8ff;
  background: #fff;
  margin-right: 5px;
  margin-bottom: 30px;
}

.signup-input::placeholder {
  color: #00d8ff; /* 원하는 색상으로 변경하세요 */
}

.signup-button_real {
  width: 75px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #00d8ff;
  border: 3px solid #00d8ff;
}

.signup-button_real {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.under_signup {
  display: flex;
  align-items: center;
}

.signup_svg {
  margin-right: 10px; /* svg와 p 사이의 간격 조절 */
}

.under_signup p {
  color: #00d8ff;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.signup-button_real:hover {
  background-color: #0056b3;
}

.signup-button_real:hover,
.signup-input:hover {
  background-color: #00d8ff;
}

/* iPad Air 2 (768px x 1024px) */
@media (max-width: 768px) {
  .signup-container {
    width: 90%;
    height: auto;
    padding: 15px;
    margin-left: 5px;
  }

  .text,
  .password {
    font-size: 20px;
  }

  .signup-input {
    width: 80%;
    height: 35px;
    margin-bottom: 20px;
  }

  .signup-button_real {
    width: 70px;
    height: 35px;
  }

  .under_signup p {
    font-size: 20px;
  }

  .signup_svg {
    margin-right: 5px;
  }
}

/* iPhone 13 (390px x 844px) */
@media (max-width: 390px) {
  .signup-container {
    width: 95%;
    height: auto;
    padding: 10px;
    margin-left: 5px;
  }

  .text,
  .password {
    font-size: 18px;
  }

  .signup-input {
    width: 90%;
    height: 30px;
    margin-bottom: 15px;
  }

  .signup-button_real {
    width: 65px;
    height: 30px;
  }

  .under_signup p {
    font-size: 18px;
  }

  .signup_svg {
    margin-right: 5px;
  }
}